.cart {
  position: fixed;
  right: 40px;
  top: 30px;
  border: 1px solid #ebebeb;
  display: flex;
  width: 230px;
  height: 80px;
  background-color: #ffffff;
  flex-direction: column;
  align-items: flex-end;

  .price {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 1.3em;

    .amount {
      padding-right: 10px;
    }
  }

  .actions {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
