.container {
  header {
    margin: 100px 0;
    text-align: center;

    h1 {
      font-size: 5em;
    }
  }

  .cart-items {
    margin-left: 100px;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.15);
    padding: 40px;
  }

  footer {
    display: flex;
    flex-direction: column;

    .summary {
      padding: 20px 0;
      display: flex;
      justify-content: flex-end;
      font-size: 1.4em;
    }

    .submit {
      display: flex;
      justify-content: flex-end;
    }
  }
}
